<section class="benefits-wrapper">
    <h2 class="benefits-title">@@title</h2>
    <div class="benefits">
        <include src="./benefits-article.html" imageURL="./assets/images/benefit-1.png" imageAlt="Descarga música" title="Descarga música" description="Llévala siempre contigo"></include>
        <include src="./benefits-article.html" imageURL="./assets/images/benefit-2.png" imageAlt="Sin anuncios" title="Sin anuncios" description="Disfruta de música sin interrupciones"></include>
        <include src="./benefits-article.html" imageURL="./assets/images/benefit-3.png" imageAlt="Escucha lo que quieras" title="Escucha lo que quieras" description="Incluso en el móvil"></include>
        <include src="./benefits-article.html" imageURL="./assets/images/benefit-4.png" imageAlt="Salta todas las canciones que quieras" title="Salta todas las canciones que quieras" description="Simplemente dale a siguiente"></include>
    </div>
  </section>
</main>