<footer class="footer">
  <nav>
    <ul>
      <include
        src="./menu-item.html"
        menuItemName="Legal"
        listItemClass="footer-menu-items"
        linkClass="footer-menu-links"
        linkURL="#"
      ></include>
      <include
        src="./menu-item.html"
        menuItemName="Cookies"
        listItemClass="footer-menu-items"
        linkClass="footer-menu-links"
        linkURL="#"
      ></include>
      <include
        src="./menu-item.html"
        menuItemName="Información sobre los anuncios"
        listItemClass="footer-menu-items"
        linkClass="footer-menu-links"
        linkURL="#"
      ></include>
    </ul>
  </nav>
  <div class="copy">
    <span class="@@countryClass"
      >@@country <img class="@@flagClass" src="@@imageURL" alt="@@imageAlt"
    /></span>
    <span class="copy-year">&copy; @@copyYear</span>
  </div>
</footer>
