<header class="header">
  <img class="logo" src="./assets/images/logo.png" alt="Spotify logo" />
  <img
    class="logo hamb"
    src="./assets/images/menu-icon.png"
    alt="Spotify logo"
  />
  <nav class="nav">
    <ul class="menu">
      <include
        src="./menu-item.html"
        menuItemName="Premium"
        listItemClass="list-item" linkClass="link" linkURL="#"
      ></include>
      <include
        src="./menu-item.html"
        menuItemName="Ayuda"
        listItemClass="list-item" linkClass="link" linkURL="#"
      ></include>
      <include
        src="./menu-item.html"
        menuItemName="Descargar"
        listItemClass="list-item" linkClass="link" linkURL="#"
      ></include>
      <include
        src="./menu-item.html"
        menuItemName="Registrarse"
        listItemClass="list-item link-signup" linkClass="link" linkURL="./signup.html"
      ></include>
      <include
        src="./menu-item.html"
        menuItemName="Iniciar sesión"
        listItemClass="list-item" linkClass="link" linkURL="#"
      ></include>
    </ul>
  </nav>
</header>
